<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>To-Do List</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="container">
		<h1>To-Do List</h1>
		<form action="/list/add" method="post">
			<input type="number" placeholder="Enter the id">
			<input type="text" name="content" placeholder="Enter a new task"
				required>
				
			<button type="submit">Add Task</button>
		</form>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Task</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="todo : ${ToDo}">
					<tr>
						<td th:text="${todo.id}"></td>
						<td th:text="${todo.content}"></td>
						<td>
							<form action="/list" method="get" style="display: inline;">
								<input type="hidden" name="id" th:value="${todo.id}"> <input
									type="checkbox" name="status" th:checked="${todo.status}"
									onchange="this.form.submit()">
							</form>
						</td>
						<td>
							<form action="#" method="post" style="display: inline;">
								<input type="hidden" name="id" th:value="${todo.id}">
								<button type="submit" formaction="/todos/delete"
									formmethod="post">Delete</button>
							</form>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>
